.peru
config/*
config/fish/*
scripts/TexturePacker
scripts/google-music
scripts/plex
scripts/postman
scripts/reditr
scripts/soda
scripts/vauth
scripts/vauth_cron
scripts/webmail
scripts/ynab
scripts/outlook
vim/*
!config/alacritty*
!config/bspwm*
!config/conky*
!config/dunst*
!config/fish/completions*
!config/fish/config.fish
!config/fish/git-abbr.fish
!config/flake8
!config/fontconfig*
!config/global.conf
!config/jumanji*
!config/redshift.conf
!config/roxterm*
!config/sxhkd*
!config/termite*
!config/zathura*
