zgen.zsh
vim/backups
vim/.netrwhist
vivint_auth*
config/*
scripts/google-music
scripts/webmail
scripts/plex
scripts/TexturePacker
!config/bspwm*
!config/sxhkd*
!config/dunst*
!config/jumanji*
!config/global.conf
