zgen.zsh
vim/*
zsh/*
config/*
.peru
scripts/google-music
scripts/webmail
scripts/plex
scripts/TexturePacker
scripts/vauth
scripts/vauth_cron
scripts/ynab
scripts/postman
scripts/reditr
scripts/soda
!config/bspwm*
!config/sxhkd*
!config/dunst*
!config/jumanji*
!config/zathura*
!config/fontconfig*
!config/global.conf
!config/roxterm*
!config/termite*
!config/redshift.conf
config/fish/*
!config/fish/config.fish
